.App {
  text-align: center;
  width: 1400px;
  height: 729px;
  background: url(img/qp_stripe_background.png) no-repeat scroll 0 0
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Content {
  background-color: white;
  width: 420px;
  height: 500px;
  margin-left: 425px;
  /* border: 3px solid green; */
  padding-left: 10px;
  padding-top: 30px;
}

.ChannelApp {
  background: url(img/phone_bkgd.png) no-repeat scroll 0 0;
  width: 1000px;
  height: 700px;
  margin-left: 100px;
  /* border: 3px solid green; */
  /* padding-left: 10px; */
  padding-top: 30px;
}
.ChannelContent {
  width: 790px;
  margin-left: 115px;
  padding-top: 40px;
}

.AdminContent {
  background-color: white;
  width: 800px;
  height: 700px;
  margin-left: 250px;
  /* border: 3px solid green; */
  padding-left: 10px;
  padding-top: 30px;
}
.AdminContent ul {
  list-style-type: none;
}

.AdminItem div {
  text-align: left;
  border-top: 1px solid rgb(181, 181, 181);
}